gunicorn==20.1.0
Flask==2.0.1
Werkzeug==2.0.1
Flask_SQLAlchemy==2.5.1
keras_nightly==2.5.0.dev2021032900
numpy==1.19.4
passlib==1.7.4
Flask_WTF==0.15.1
WTForms==2.3.3
SQLAlchemy==1.4.20
requests==2.18.4
keras==2.4.3
python-dotenv==0.19.0
