body {
    text-align: center;
    background-image: url("../backgrounds/background.jpg");
    background-size: auto;
    background-repeat: repeat;
}

.outline{
    display: flex;
    align-items: center center;
    justify-content: center;
}

#headerthing{
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 50%;
}
.outline section{
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
}
@media (min-height: 570px){ /*https://stackoverflow.com/questions/12645366/css-responsive-center-div*/
    .outline section{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.9);
        padding: 30px;
    }
}

