{% extends "layout.html" %}
{% block scripts %}
{% endblock %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">What is Foodifier?</h1>
                    <p class="lead text-white-50 mb-4">Foodifier is a web application that can show your calorie intake</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" method="GET" href="/signup">Sign Up</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="/">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h2 class="h4 fw-bolder">How does it work?</h2>
                <p>We use a model to first classify your food into a sub-catagory, then we use a api to get the average calorie of the food. This calorie count is then added to your weekly and daily goals which are set by you!</p>
        
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h2 class="h4 fw-bolder">How do I use it?</h2>
                <p>It is easy, all you have to do is sign up and then upload a photo and you are set.</p>
            </div>
            <div class="col-lg-4">
                <h2 class="h4 fw-bolder">Is it free to use?</h2>
                <p>As of now, foodifier is completely free to use. You will never be charged for anything you do on this application.</p>

            </div>
        </div>
    </div>
</section>
{% endblock %}