{% set logged_in = True %}
{% extends "layout.html" %}
{% block scripts %}
{% endblock %}
{% block content %}
{% if not label %}
<div class="booth">
    <h2>Take A Photo</h2>
    <video id ="video" width="380" height="300" autoplay></video>
    <a href="#" id="capture" class = "booth-capture-button" onclick="submit_available()">Take Photo</a>
    <canvas id="canvas" width="400" height="300"></canvas>
    <img style = "display: none;"id = "photo" src="" alt="your image of the food">
    <form id = "hide" style="display: none;" action="/submit_image" method=post enctype=multipart/form-data>
        <input class = "hidden" id = 'linksub' type="text" name="link">
        <input type="submit" value="Upload">
    </form>
    <h2>Upload A Photo</h2>
    <form action="/submit_image" method=post enctype="multipart/form-data">
        <input type="file" name="upload">
        <input type="submit" value="Upload">
    </form>
</div>

{% endif %}
{# ADAPTED FROM https://github.com/mitkir/keras-flask-image-classifier #}
{% if label %}
<div class="col-lg-4" id = "centerarea">
    <div class="page-header">
        <div style="display: inline;">
            <h3 id="tables">Result: {{prediction}}</h3>
            <p>If none of the predictions were correct 
                <button style = "display: inline-flex;" class = "btn btn-light" onclick="toggleTextOn()">Click Here</button></p>
            
            <form style="padding-left: 20px; padding-bottom: 20px;" class = "hidden_form" id = "text_box" method="POST" action="/corrected_food" style="display: none;">
                <p>Input the name of the food</p>
                <input type="text" name=food>
                <input type=submit value="Get Calories">
                <br />
                <button class = "btn btn-light" id = 'get_calories' style="display: none;"><a href="/calories/{{prediction}}">Get Calories</a></button>
            </form>
        </div>  
    
    </div>
    <table class="table table-hover">
        <thead>
            <tr class="table-active">
                <th scope="col" rowspan = "5">Image</th>
                <th scope="col" colspan = "5">Predict</th>
            </tr>
        </thead>
        <tr>
            <th scope="row" rowspan = "6"> <img width="600" height="600" src="static/uploads/{{imagesource}}" /> </th>
            {% for key, val in label.items() %}
                <tr>
                    <td> {{key}}: {{val}} </td>
                    <td> <button class = "btn btn-light"><a href="/calories/{{key}}">Calorie Info For {{key}}</a></button></td>
                </tr>
            {% endfor %}
        </tr>
        
    </table>
</div>


{% endif %}
<script src="../static/js/video.js"></script>
<script>
    function toggleTextOn() {
        var text = document.getElementById("text_box");
        text.style.display = "block";
    }
    function submit_available(){
        var sub = document.getElementById("hide")
        sub.style.display = "block"

        var im = document.getElementById("photo")
        im.style.display = "block"
    }
</script>
{% endblock %}